For Python/Machine Learning:

import io
from flask import Flask, jsonify, request
from flask_cors import CORS
import cv2
import re
import numpy as np
from PIL import Image
import pytesseract

For Frontend:
import axios from "axios";

For Connection with supabase:
import { supabase } from "./config/supabaseconnect";
      --------npm install @supabase/supabase-js
